modules = ["python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DB_PATH = "database.db"
FLASK_SECRET_KEY = "81e8d16a6854ee381ed1b3293a4ba96bd0445a7e1e52cf771a13c082a54a7c9c"
ADMIN_ID = "6211527632"
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python start.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["python", "start.py"]
